.roadmap-component{
    display: flex;
    flex-direction: column;
    margin-top: 3.8rem;
}

.roadmap-area{
    background:linear-gradient(rgba(151, 168, 216, 0.8),transparent);
    height: 94vh;
    /* width: 50vw; */
    margin-left: 16.2%;
    margin-top: 0%;
    padding: 20px;
    border: 1px solid black;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #475275 transparent;
}

.roadmapHeader {
    display: flex;
    height: 4vh;
    width: inherit;
    margin: 0px auto;
    margin-bottom: 50px;
}
.roadmapHeader>h2
{
    z-index: 5;
    /* background-color: var(--color-back); */
    position: absolute;
    width: 96%;
    font-size: 40px;
    padding: 5px 0px 10px 0px;
    margin:0px 10px 10px 0px;
    /* border-bottom: 1px solid rgba(163, 160, 160, 0.61); */
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    color: #fff;
}

.roadmapHeader>span {
    z-index: 5;
    position: absolute;
    right: 2%;
    top: 14%
}


.accordion-0 {
    border: 2px solid gray;
    border-radius: 20px;
    /* padding: 10px; */
    /* margin: 10px; */
    width: 100%;
    background-color: red;
}

.accordion-0:hover {
    background-color: #fff;
  }
  
  .accordion-summary {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #475275;
    border: 10px solid red;
  }
  
  .accordion-details {
    padding: 10px;
    font-size: 14px;
    color: #475275;
  }