.roadmap-component{
    display: flex;
    flex-direction: column;
}

.roadmap-area{
    background:linear-gradient(rgba(151, 168, 216, 0.8),transparent);
    height: 100vh;
    margin-left: 16.2%;
    margin-top: 10vh;
}

.heading{
    margin-left: 2rem;
}