.backlogAccordian {
    /* height: 5px; */
    width: 80%;;
    margin-bottom: 3rem;
}
.startsprint{
    margin-left: 80%;
}

.sprintAccordian{
    /* height: 5px; */
    width: 80%;;
    /* margin-bottom: 3rem; */
}

.main-container-with-sidebar-open{
    margin-left : 18.5%;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 3rem;
}

.main-container-without-sidebar-open{
    margin-left: 3%;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 3rem;
}
.accordion-header {
    position: relative;
  }