.main-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
    background:linear-gradient(rgba(151, 168, 216, 0.8),transparent);
}

.first-container{
    margin: 0.8rem;
    /* margin-bottom: 0.8rem; */
}

.second-container{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
}

.backlog-subheading{
    margin-top: -0.8rem;
}

