
.start-sprint-button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-150%, -50%);
}
 .edit-sprint-button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-10%, -50%);
 }