.outerWrapper{
    height: 10vh;
    background: aliceblue;
    display: flex;
    gap: 15rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    /* justify-content: space-between; */

}
.navbar-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    
}
.navbar-logo{
    font-size: 20px;
    font-weight: bold;
    object-fit: contain;
    color: rgb(10, 53, 122);
    
}
.nav-links{
    display: flex;
    margin-right: 2rem;
    gap: 1rem;
    margin-left: 20vh;
    
}
/* /////////////////////////// */
.projectOuterWrapper{
    
    background-color: white;
    min-width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
}
.menu-icon {
    display: none;
}
.btn{
    font-weight: 500;
    width: 100%;
}
.btn:hover {
    background: rgb(250, 248, 248);
}
.button-style{
        position:fixed;
        margin-left:90vh;
        padding: 1vh 2vh;
        border-radius: 4px;
        outline: none;
        border: none;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        background-color: blue;
        height:6vh;
        width:14vh;
        margin-top: 1.5vh;
      
}
.button-style:hover{
    
        padding: 6px 18px;
        transition: all 0.3s ease-out;
        background-color: transparent;
        color: rgb(156, 156, 156);;
        border-radius: 4px;
        border: 3px solid rgb(156, 156, 156);;
        transition: all 0.3s ease-out;
      
}
.yourWorkWrapper{
    background-color: white;
    width: 25vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    /* z-index: 1; */
    
}
.btn-div{
    height: 20vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
}
.yourWork-btn{
    display: flex;
    justify-content: space-evenly;
}
.yourWork-btn .btn-3:hover{
   color: blue ;
}
.yourWork-btn .btn-1:hover{
    color: blue ;
 }
 .yourWork-btn .btn-2:hover{
    color: blue;
 }

 .team-header{
    display: grid;
    margin-bottom: 10px;

 }
 .teamWrapper{
    height: 100px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 6px;

 }
.select{
    border:none;
    padding: 50px 50px;
    border-radius:10px;
  }
  
.select:focus{
    outline:none;
  }

  /* ///dropdown/ */
.dropdown-select{
    width: 100%;
    height: 2rem;
    background: rgb(238, 238, 238);
    border-radius: 5px;
    margin-right: 20%;
}

/* //createissue */
.createIssueWrapper{
   background-color: green;
   width: 50%;
   margin: auto;
   height: 70vh;
   overflow: scroll;
   margin-top: 70px;
   overflow-x: hidden;
   padding-right: 25%;
   padding-left: 2%;
}
.child{
    /* margin-right: 50%; */
    /* width: 100%; */
    /* background-color: re; */
    /* padding-right: 150px; */
}
.dropdown-options{
    /* border-color: blue;
    border-radius: 2px; */
    
}
.label{
    
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.createIssue-Header{
    /* display: flex;
    justify-content: space-between;
    height: 7vh;
    position: fixed;
    width: 50%;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* display: flex; */
  /* justify-content:space-between; */
}










  